{% extends 'base.html' %} 
{% block content %}
<!-- 
Albums have:
Title, Artist, Release Date -->

<div class="w-33 pa3">
	<h2>{{ album.name }}</h2>

</div>

<div class=
	<!-- <div class="flex">
		<div class="pr2"><i class="icofont-location-pin"></i></div>
      <div>
        {{ album.address_1 }}<br />
        {% if album.address_2 %}
          {{ album.address_2 }}<br />
        {% endif %}
        {{ album.city }}, {{ album.state }} {{ album.zip_code }}
      </div>
    </div> -->

        {% if album.released %}
    <div class="flex">
      <div class="pr2"></div>
      <div>{{ album.released }}</div>
    </div>
    {% endif %}

    {% if album.notes %}
    <h3>Notes</h3>
    <div class="flex">
      <div class="pr2 list">
        {% for note in album.notes.all %}
        <li>{{note}}</li>
        {% endfor %}
      </div>
    </div>


    {% endif %}

    


  </div>

{% endblock %}
