{% extends "base.html" %}

{% block content %}
<h1>All Albums</h1>


<div class="flex flex-wrap">
  {% for album in mytunes %}
  <div class="w-33 pa3">
    <h2>{{ mytunes.albumtitle }}</h2>

 {% if mytunes.artistname %}
    <div class="flex">
      <div class="pr2"></div>
      <div>{{ mytunes.artistname }}</div>
    </div>
    {% endif %}

    {% if mytunes.releasedate %}
    <div class="flex">
      <div class="pr2"></div>
      <div>{{ mytunes.releasedate }}</div>
    </div>
    {% endif %}

    
  </div>
  {% endfor %}
</div>  
{% endblock %}

